<div class="login-container">
    <div class="login-card">
      <h1>Welcome Back!</h1>
      <h2>Bannari Amman Institute of Technology</h2>
      <h3>Stay Ahead</h3>
      <div class="login-form">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYB-39YIn8M7nenZPpLqrS485KtB_nMVAvgA&s" alt="Institute Logo" class="logo">
        <h4>Wiki Code</h4>
        <button class="google-signin-btn" (click)="onGoogleSignIn()">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google Logo" />
            admin Google Sign in
          </button>
        <button class="google-signin-btn" (click)="onFacultyGoogleSignIn()">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google Logo" />
            faculty Google Sign in
        </button>
        <p>Sign in with your BIT account</p>
      </div>
    </div>
  </div>
  
